*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}


body {
    overflow-x: hidden;
}  

html, body {
    cursor: none;
}

/*navbar*/

.navbar {
    padding: 15px 20px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navbar-list {
    border-style: solid;
    border-radius: 25px;
    border-width: 0.5px;
    border-color: rgb(219, 219, 219); /* softer, glassy border */

    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px 10px;

    /* Glassmorphism effect */
    background: rgba(255, 255, 255, 0.1);  /* semi-transparent */
    backdrop-filter: blur(5px);            /* blur the background behind */
    -webkit-backdrop-filter: blur(5px);    /* for Safari */
}

a {
    text-decoration: none;
    color: inherit;
    border-style: none;
    border-radius: 19px;
    border-width: 1px;
    padding: 5px 20px;
    cursor: none;
}   

a.active {
    color: red;
    transition: color 0.2s ease-out 0.12s, background-color 0.2s ease-out 0.1s;
    background-color: black;
}



/*contact page*/

.container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200vw;
    height: 100vh;
    position: relative;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    position: absolute;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 15px;
    z-index: -10;
}

.card-1 {
    top: 50%;
    left: 30%;
}

.card-2 {
    top: 60%;
    left: 45%;
}

.card-3 {
    top: 40%;
    left: 60%;
}

.card-4 {
    top: 70%;
    left: 85%;
}

.img-1,
.img-2,
.img-3,
.img-4,
.icon {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.title {
    position: absolute;
    font-family: 'Mangiola', sans-serif;
    font-size: 20rem;
    color: rgb(188, 188, 188);
    left: 40%
}

.instagram, .linkedin, .github {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: grey;
    top: 50%;
    opacity: 0.7;
    border-style: solid;
    border-color: rgb(74, 46, 153);
    border-width: 1px;
    border-radius: 10px;
    padding: 10px 20px;
    z-index: 20;
}

.icon-wrapper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

h2 {
    font-size: 1rem;
}

.instagram {
    left: 21%;
    top: 50%;
}

.linkedin {
    left: 44%;
    top: 50%;
}

.github {
    left: 67%;
    top: 50%;   
}

.instagram-link, .linkedin-link, .github-link {
    padding: 0;
    margin-right: 10px;
}

.outro {
    height: 100vh;
    width: 30vw;
}

/*cursor*/
.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease, background 0.2s ease;
    z-index: 9999;
}

.cursor.hovered {
    transform: translate(-50%, -50%) scale(3);
    transition: transform 250ms ease-in-out;
    background: red;
    mix-blend-mode: overlay;
}

/*About page*/

.container-about {
    width: 100vh;
    height: 100vh;
}

.about {
    position: absolute;
    font-size: 7rem;
    font-family: 'SF Pro Display', sans-serif;
    left: 2.5%;
    bottom: 2.5%;
    color: black;
}

.about-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    top: 10%;
    right: 0%;
    margin: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: grey;
    border-radius: 10px;
    width: 70vw;
    height: 200vh;
    z-index: 1;
}

.about-content p {
    font-size: 1.2rem;
}

